.accordion {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    counter-reset: category-item;
}

.accordion__item {
    overflow: hidden;
    counter-increment: category-item;
    &:first-child{
        border-top: 1px solid transparent
    }
}

.accordion__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    border: 0;
}

.accordion__icon {
    display: block;
    width: 12px;
    height: 12px;
    
    &::before {
        content: '+';
    }
    
    &.open::before {
        content: '-';
    }
}

.accordion__collapse {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s ease;

    &.open {
        grid-template-rows: 1fr;
    }
}

.accordion__body {
    min-height: 0;
    padding: 0 12px;
}

.accordion__description {
    display: block;
    padding: 12px 0 ;
}
